<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>


<body>
<nav th:replace="~{fragments :: page-header}"></nav>

<div class="container-fluid body-content g-col-8 text-white text-bg-secondary mt-3">

    <h1 class="text-white text-bg-warning text-center align-middle"><strong>Customer Lists</strong></h1>
    <div class="text-center align-middle">
        <button type="button" class="btn btn-info rounded-pill" > <a class="text-decoration-none" th:href="@{'/customers/add'}" >Add Customer</a></button>

<!--        </input>-->
        <button type="button" class="btn btn-secondary btn-block rounded-pill" style="background-color: #6f42c1"><a class="text-decoration-none" th:href="@{'/customers/'}">Back</a></button>

    </div>

    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <table class="container body-content">
                    <thead>
                    <tr>

                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Contact Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Zip Code</th>
                        <th>Action</th>

                    </tr>
                    </thead>

                    <tbody>

                    <ul>
                        <tr th:each="customer : ${customers}">
                            <th:block>
                                <td th:text="${customer.id}">ID</td>

                                <td th:text="${customer.firstName}">Name</td>
                                <td th:text="${customer.lastName}"></td>
                                <td th:text="${customer.contactEmail}">Email</td>
                                <td th:text="${customer.phoneNumber}"></td>
                                <td th:text="${customer.address}"></td>
                                <td th:text="${customer.city}"></td>
                                <td th:text="${customer.zipCode}"></td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-md  rounded-pill g-2"><a class="text-decoration-none" th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a></button>

                                    <button type="button" class="btn btn-danger btn-md rounded-pill g-2"><a class="text-decoration-none" th:href="@{/customers/delete(id=${customer.id})}" onclick="return confirm('Are  you sure')">Delete </a></button>

                                </td>
                            </th:block>
                        </tr>
                    </ul>
                    </tbody>
                </table>
                <div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer th:replace="~{fragments :: page-footer}"></footer>

    </div>
    </div>
</body>
</html>
