<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>

<body>

<nav th:replace="~{fragments :: page-header}"></nav>
<div class="container body-content g-col-8 text-white text-bg-secondary mt-3">

        <h1>New Customer Created Successfully</h1>
        <table>
        <div>
                <li>First Name</li>
                <li>Last Name</li>
                <li>Email</li>
                <li>Phone Number</li>
                <li>Address</li>
                <li>City</li>
                <li>Zip Code</li>
        </div>
        <h3>Need Edit?</h3>
                <button class="btn btn-danger"> <a th:href="@{/customer/edit}" >Yes </a></button>
                <button class="btn btn-info"> <a th:href="@{/customer/list}" >No</a></button>

        </table>
        <div>
                <footer th:replace="~{fragments :: page-footer}"></footer>

        </div>
</div>

</body>
</html>